<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Transportation & Agency Template is a simple Smooth transportation and Agency Based Template" />
    <meta name="keywords" content="Portfolio, Agency, Onepage, Html, Business, Blog, Parallax" />

    <!--====== TITLE TAG ======-->
    <title>winner shield limited</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="/static/logistics/img/favicon.png" />

    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" href="/static/logistics/css/normalize.css">
    <link rel="stylesheet" href="/static/logistics/css/animate.css">
    <link rel="stylesheet" href="/static/logistics/css/stellarnav.min.css">
    <link rel="stylesheet" href="/static/logistics/css/owl.carousel.css">
    <link href="/static/logistics/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/logistics/css/font-awesome.min.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="/static/logistics/style.css" rel="stylesheet">
    <link href="/static/logistics/css/responsive.css" rel="stylesheet">

    <script src="/static/logistics/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="single-page">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area single-page" id="home">
        <div class="top-area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="header-top-area">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="{% url 'account:index' %}" class="navbar-brand"><img src="/static/logistics/img/capture5.png" alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav">
                                <li><a href="{% url 'account:index' %}">home</a>
                                </li>
                                <li><a href="{% url 'account:about' %}">about</a>
                                    <ul>
                                        <li><a href="{% url 'account:about_profile' %}">About Profile</a></li>
                                        <li><a href="{% url 'account:about_history' %}">About History</a></li>
                                        <li><a href="{% url 'account:about_team' %}">About Team</a></li>
                                        <li><a href="{% url 'account:about_support' %}">About Support</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'account:services' %}">Services</a>
                                </li>
                                <li><a href="{% url 'account:blog' %}">Blog</a>
                                    <ul>
                                        <li><a href="{% url 'account:cargoblog' %}">Cargo Handling</a></li>
                                        <li><a href="{% url 'account:airblog' %}">Freight forwarding</a></li>
                                        <li><a href="{% url 'account:consultancyblog' %}">Tax Consultancy</a></li>
                                        <li><a href="{% url 'account:logisticsblog' %}">Logistics</a></li>
                                        <li><a href="{% url 'account:storageblog' %}">Cargo storage</a></li>
                                        <li><a href="{% url 'account:suppliesblog' %}">General supplies</a></li>
                                        <li><a href="{% url 'account:transferblog' %}">Money Transfer</a></li>
                                        <li><a href="{% url 'account:transportationblog' %}">Transportation</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'account:create_contact' %}">Contact</a>
                                </li>
                                <li><a href="{% url 'account:location' %}">Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
        <div class="welcome-area">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text text-center">
                            <h2>{{ service.name }}</h2>
                            <ul class="page-location">
                                <li><a href="{% url 'account:index' %}">Home</a></li>
                                <li>/</li>
                                <li><a href="{% url 'account:services' %}">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--SERVICE AREA-->
    <section class="service-area-two section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 pull-right">
                    <div class="service-details-content">
                        <div class="service-image">
                            <img src="/static/logistics/img/blog/seafreight.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>{{ service.description }}</p>
                            <blockquote>“To satisfy our customers with total logistic solutions that are timely, innovative, effective and efficient led by a workforce dedicated to quality and delivery. The flexibility to best meet our customers, requirements grow out of the stable structures that are a key feature of WSL as a company”</br>Challenge us to be the part of your solutions.</blockquote>
                            <p> 
                                <ul>
                                    <li><i class="fa fa-check"></i> On-dock and Off-dock cargo stuffing facilities</li>
                                    <li><i class="fa fa-check"></i> Offer economic rates</li>
                                    <li><i class="fa fa-check"></i> Confirmed space allocation with all major shipping lines</li>
                                    <li><i class="fa fa-check"></i> Efficient staff at customs and port zone </li>
                                    <li><i class="fa fa-check"></i> Highly skilled profile in shipping industry at your service</li>
                                    <li><i class="fa fa-check"></i> Licensed customs brokers</li>
                                    <li><i class="fa fa-check"></i> Cost effective sea combination</li>
                                    <li><i class="fa fa-check"></i> Export and Import customers clearance</li>
                                    <li><i class="fa fa-check"></i> Strong links with local customers</li>
                                </ul>
                            </p>
                            <a href="{% url 'company_profile:create_profile' service.id %}" class="read-more btn-sm">Request Service</a>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="faqs-left-img">
                                    <img src="/static/logistics/img/about/about-details.jpg" alt="">
                                </div>
                            </div>                      
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="faqs-list">
                                    <h3>why choose <span>Winner Shield ?</span></h3>
                                    <div class="panel-group" id="accordion">
                                        <div class="panel active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_one"><i class="fa fa-minus"></i> PERFECT TAX ASSESSMENT</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_two"><i class="fa fa-minus"></i> PERFECT ENTRIES</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_three"><i class="fa fa-minus"></i> PERFECT DECLERATION</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_four"><i class="fa fa-minus"></i> LESS STRESS ON CONTAINERS</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_four"><i class="fa fa-minus"></i> PERFECT DELIVERY</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_four"><i class="fa fa-minus"></i> PERFECT SECURITY</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faqs_four"><i class="fa fa-minus"></i> MINIMUM TOP UPS ON OUR TAXES</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 pull-left">
                    <div class="service-menu">
                        <h4>Service Details</h4>
                        {% for service in services %}
                        <ul>
                            {% if service.name == 'Freight forwarding' %}
                            <li><a href="{% url 'account:air_freight' service.id %}">{{ service.name }}  <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Transportation' %}
                            <li><a href="{% url 'account:transportation' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Tax consultancy' %}
                            <li><a href="{% url 'account:consultancy' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Cargo Handling' %}
                            <li><a href="{% url 'account:cargo' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'General Supplies' %}
                            <li><a href="{% url 'account:supplies' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Cargo Storage' %}
                            <li><a href="{% url 'account:storage' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Logistics' %}
                            <li><a href="{% url 'account:logistics' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Money Transfer' %}
                            <li><a href="{% url 'account:transfer' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Sea Freight' %}
                            <li><a href="{% url 'account:seafreight' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Air Freight' %}
                            <li><a href="{% url 'account:airfreight' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Road Freight' %}
                            <li><a href="{% url 'account:roadfreight' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Railway Freight' %}
                            <li><a href="{% url 'account:railfreight' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Warehouse' %}
                            <li><a href="{% url 'account:warehouse' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Custom Clearance' %}
                            <li><a href="{% url 'account:clearance' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% elif service.name == 'Parking' %}
                            <li><a href="{% url 'account:parking' service.id %}">{{ service.name }} <i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

        <!--FOOER AREA-->
        <div class="footer-area dark-bg">
            <div class="footer-area-bg"></div>
            <div class="footer-top-area wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-border"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="single-footer-widget footer-about">
                                <h3>About Us</h3>
                                <p>Winner Shield is a Logistics company dedicated to offer logistics the best business and logistics services its clients.</p>
                                <ul>
                                    <li><i class="fa fa-phone"></i>+256-759401570/+256-782004726 +256-703058581</li>
                                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:winnersshield@gmail.com">winnersshield@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="single-footer-widget twitter-widget">
                                <h3>Location</h3>
                                <ul>
                                    <li>
                                        <div class="twitter-icon"><i class="map-marker"></i></div>
                                        <div class="tweet-detail">
                                            <p>ARUA PARK PLAZA GROUND FLOOR/ ENTEBBE AIRPORT TO HANDLE AIR CARGO/MOMBASA FOR FREIGHT / LEGO SUDAN BORDER</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="single-footer-widget list-widget">
                                <h3>Quick links</h3>
                                <ul>
                                    <li><a href="{% url 'account:cargoblog' %}">Cargo Handling</a></li>
                                    <li><a href="{% url 'account:storageblog' %}">Cargo Storage</a></li>
                                    <li><a href="{% url 'account:transferblog' %}">Money Transfer</a></li>
                                    <li><a href="{% url 'account:suppliesblog' %}">General Supplies</a></li>
                                    <li><a href="{% url 'account:airblog' %}">clearing and freight forwarding</a></li>
                                    <li><a href="{% url 'account:transportationblog' %}">Transportation</a></li>
                                    <li><a href="{% url 'account:consultancyblog' %}">Tax Consultancy</a></li>
                                    <li><a href="{% url 'account:create_contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="single-footer-widget instafeed-widget">
                                <h3>Customer Service</h3>
                                <ul>
                                    <li><img src="/static/logistics/img/instafeed/1.jpg" alt=""></li>
                                    <li><img src="/static/logistics/img/instafeed/2.jpg" alt=""></li>
                                    <li><img src="/static/logistics/img/instafeed/img_2.jpg" alt=""></li>
                                    <li><img src="/static/logistics/img/instafeed/details.jpg" alt=""></li>
                                    <li><img src="/static/logistics/img/instafeed/5.jpg" alt=""></li>
                                    <li><img src="/static/logistics/img/instafeed/6.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-border"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <div class="footer-copyright wow fadeIn">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOER AREA END-->    

    <!--====== SCRIPTS JS ======-->
    <script src="/static/logistics/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/logistics/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="/static/logistics/js/vendor/jquery.easing.1.3.js"></script>
    <script src="/static/logistics/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/logistics/js/vendor/jquery.appear.js"></script>
    <script src="/static/logistics/js/owl.carousel.min.js"></script>
    <script src="/static/logistics/js/stellar.js"></script>
    <script src="/static/logistics/js/wow.min.js"></script>
    <script src="/static/logistics/js/stellarnav.min.js"></script>
    <script src="/static/logistics/js/contact-form.js"></script>
    <script src="/static/logistics/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="/static/logistics/js/main.js"></script>
</body>

</html>
